.item-layout {
    max-width: 420px;
    margin: auto;
    text-align: center;
    gap: 1rem;
    grid-template-areas: 
    "🔤 🔤"
    "🖼️ 🖼️"
    "💷 🌍"
    "📝 📝"
    "❌ ❌";
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.item-name {
    grid-area: 🔤;
}

.item-image {
    grid-area: 🖼️;
}

.item-image-inner {
    max-width: 250px;
    max-height: 250px;
    margin: auto;
}

.item-image-inner img {
    border-radius: 10px;
    max-width: 100%;
    object-fit: contain;
}

.item-price {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: 💷;
}

.item-link {
    grid-area: 🌍;
}

.item-desc {
    grid-area: 📝;
    /* font-size: large; */
}

.item-close{
    grid-area: ❌;
}