:root{
    --bg-colour: #2D3047;
    --text-colour: #FFDBB5;
    --colour-1: #419D78;
    --colour-2: #E0A458;
}

@font-face {
    font-family: 'NotoIKEA';
    src: url(./assets/NotoIKEALatinRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1536px;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;

    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;

    font-family: 'NotoIKEA', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* background-color: #222; */
    /* background-image: url(./assets/space.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    background: #a9a9a9;

    color: var(--text-colour);

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
}

section {
    position: absolute;
    width: 100%;
    height: calc(100% - 16vh);
    overflow: hidden;
    top:8vh;
}

h1 {
    font-family: 'Rubik';
    font-weight: bold;
}

button {
    background: none;
    border: none;
    color: inherit;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

#viewer {
    transform: translate(0, -100%);
}

#marquee {
    z-index: -1;
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

#marquee ul {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    color: #ab2828;
    font-weight: bold;
    font-size: 8rem;
    font-family: 'Allerta Stencil' imo !important;
}

.bg-dark {
    color: #fff;
    background-color: rgba(11, 11, 11, 0.6);
}

.click-z {
    z-index: 997;
}

.hidden {
    display: none;
}

.w-80 {
    padding: 2rem 0rem;
    margin: auto;
    width: 80%
}

.w-fill {
    width: 100%
}

.h-fill {
    height: 100%
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.flex-centre {
    justify-content: center;
    align-content: center;
}

.mb-2 {
    margin-bottom: 2rem;
}

.space-around {
    justify-content: space-around;
}

.pointer {
    cursor: pointer;
}

.textCenter {
    text-align: center;
}

.relative {
    position: relative;
}

.no-mouse {
    user-select: none;
}

.text-xxl {
    font-size: xx-large;
}

.object-html-marker {
    padding: .25rem; 
    background-color: var(--colour-1); 
    border-radius: 50px; 
    border: none;
    scale: 1;
    cursor: default;
    transition: all .5s;
    /* opacity: .5; */
}

.object-html-marker:hover {
    scale: 1.5;
    cursor: pointer;
    opacity: 1;
}

.btn {
    color: var(--text-colour);
    transition: 1s all;
}

.btn:hover {
    color: var(--colour-2);
}

.btn-round {
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: none;
    padding: 1rem 1.5rem
}

.btn-round:active {
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 1rem 1.5rem
}